@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events</h1>
    <p class="lead">MVC Web Application project - Creating Events</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>
        Bootstrap available on <a href="https://bootswatch.com/3/cerulean/">https://bootswatch.com/3/cerulean/</a>
    </p>
    <p>Git Hub link available on <a href="https://github.com/ManuCherian/Events">https://github.com/ManuCherian/Events</a></p>
    <p>AZURE LINK available on <a href="https://my--events.azurewebsites.net">https://my--events.azurewebsites.net</a></p>
</div>

