@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events</h1>
    <p class="lead">MVC Web Application project - Creating Events</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

