@model IEnumerable<Event.Models.MyEvent>

@{
    ViewBag.Title = "My Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<ul>
    @foreach (var e in Model)
    {
    <li>@Html.ActionLink(e.Event_Title, "ViewEvent", "Home", new { MyEventName = e.Event_Title}, null)</li>
    }


</ul>